@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap')
    html
        font-family: "Raleway", Sans-serif
body
    width: 100%
*
    margin: 0
    border: 0
    padding: 0
    outline: 0
    font-size: 100%
    vertical-align: baseline
h1
    // font-family: didot, serif
    font-size: 50px
    color: #000000
h4
    // font-family: didot, serif
    font-size: 30px
    color: $h4-color
p
    font-size: 20px
    color: $text-color
a
    font-size: 16px
    color: $h4-color
